@media (max-width: 768px) {
    li {
        display: block;
        margin-bottom: 10px;
    }
    .headerr {
        width: 400px;
    }

}

@media (max-width: 660px) {
    .headerr {
        width: 330px;
    }

}

@media (max-width: 568px) {
    .headerr {
        max-width: 200px;
    }

}

@media (max-width: 378px) {
    .headerr {
        max-width: 120px;
    }

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(-10px);
  }
}