.scroll-to-top {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    border: none;
    background: rgb(11,205,221);
    color: rgba(255, 255, 255, 0.7); 
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.scroll-to-top img {
    width: 30px; 
    height: auto;
    opacity: 0.7;
}

.picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    max-width: 840px;
    height: 50vh;
    background: linear-gradient(-45deg, transparent 72px, rgb(58, 215, 229) 0);
    position: relative; 
}

.picture-container p {
    margin: 0; 
    transition: opacity 0.3s;
}

.picture-container:hover p {
    opacity: 0; 
}

.picture-container:hover {
    background-image: url("../images/router.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.search-container {
    display: flex;
    max-width: 300px; 
    margin: 0 auto;
}

.search-container input[type="text"] {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.search-container button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(58, 215, 229);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.search-container button[type="submit"]:hover {
    background-color: rgb(18, 161, 174);
}

.information__container {
    text-align: center;
    border: 1px solid #ccc;
    max-width: 840px;
    margin: 0px auto;
    background-color: rgb(58, 215, 229);
    margin-bottom: 40px;
}

.submit__btn {
    margin-left: 40px;
    height: 10px;
}


._button {
    position: absolute;
    margin-right: 10px;
    background-color:rgb(58, 215, 229);
    color: #fff;
    border:none; 
    border-radius:10px; 
    right: 10px;
    min-height:30px; 
    max-width: 130px;
}

._button:hover {
    background-color:rgb(0, 234, 255);
    transition: 0.7s;
  }

._button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px rgb(0, 234, 255);
}

.text_sing_in {
    display: flex;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    max-width: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}





